@import "tailwindcss";

@font-face {
  font-family: "Nomark";
  font-style: normal;
  src: url('../data/Nomark.otf') format('opentype');
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Nomark", serif;
}

html,
body {
  @apply
    bg-[url(./app/data/harmonyAndPlants.jpg)]
    bg-no-repeat
    bg-fixed
    bg-cover
    bg-center
    bg-white
    dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@custom-variant dark (&:where(.dark, .dark *));