@import "tailwindcss";
@plugin "tailwind-scrollbar" {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

@font-face {
  font-family: "Nomark";
  font-style: normal;
  src: url('../data/Nomark.otf') format('opentype');
}

@font-face {
  font-family: "Against Regular";
  font-style: normal;
  src: url('../data/againstRegular.otf') format('opentype');
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Nomark", serif;
  --font-header: "Against Regular", serif;
}

html,
body {
  @apply
    bg-[url(./app/data/harmonyAndPlants.jpg)]
    bg-no-repeat
    bg-fixed
    bg-cover
    bg-center
    bg-white
    dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: 'Open Sans', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));